{% extends 'base.html' %}
{% load staticfiles %}
{% block right_top %}
		<div class="right-top ">
            <ol class="breadcrumb">
                <span class="glyphicon glyphicon-home"></span>
                <li>您当前位置:</li>
                <li><a href="{{ SITE_URL }}">首页</a></li>
                <div class="user yf">
                    <span>欢迎您！</span>
                    <span><a href="">张山</a></span>
                    <span><a href="">修改密码</a></span>
                    <span><a href="">设置</a></span>
                    <span><a href="">退出</a></span>
                </div>
            </ol>
		</div>
{% endblock %}
{% block content %}

{% endblock %}